html, body {
	color: black;
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
	background-color: #AAAACC;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 0 0 10px;
}
li {
	float: left;
	width: 125px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #2222BB;
	margin-right: 10px;
}
li:hover {
	background-color: #888888;
}
a {
	text-decoration: none;
	color: white;
	display: block;
	font-weight: bold;
}
#container {
	width: 960px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}
#header {
	width: 960px;
	height: 200px;
	background-color: #0000AA;
	background: url("../images/clouds.jpg");
	line-height: 200px;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 100px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #DDDDDD;
}
#menu {
	width: 960px;
	height: 50px;
	background-color: #4444DD;
}
#content {
	width: 900px;
	padding: 30px;
	background-color: #8888FF;
}
#footer {
	width: 920px;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	background-color: #2222BB;
	color: white;
	text-align: center;
	font-size: 10px;
}